<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../resources/css/index.css">

    <meta name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/index.html" style="color:black;">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="../views/hobbies.html" style="color:black;">Hobbies</a>
              <a class="nav-link" href="../views/projects.html" style="color:black;">Projects</a>
              <a class="nav-link" href="../views/resume.html" style="color:black;">Resume</a>
            </div>
          </div>
          <a class="navbar-brand" href="https://github.com/CSCI3308-Fall22/lab4-html-css-willvanvuuren">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Emoji_u1f44b.svg/2048px-Emoji_u1f44b.svg.png" alt="Bootstrap" width="30" height="24">
          </a>
        </div>
      </nav>
    </br>
    

    <div class="row">
      <div class="col-6 align-self-center">
         <div class="card card-block">
         Center
         </div>
      </div>
      <div class="col-6">
         <div class="card card-inverse card-danger">
         Taller
         </div>
      </div>
   </div>
    </br>
  
  </body>
</html>